 /*url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg)

//rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)

*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root {
 --color-white: #f3f3f3;
--color-darkblue: #1b1b32;
--color-darkblue-alpha: rgba(27, 27, 50, 0.8);
--color-green: #37af65;
height:100%;

}
body{
background-image:linear-gradient(rgba(84, 84, 160, 0.8), rgba(168, 168, 209, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
background-size:cover;
background-repeat: no-repeat;
background-attachment:fixed;
width:100vw;
height:100vh;
position:absolute;
top:0;
color:white;
font-family:'Poppins',sans-serif;




}

.textCenter{
    text-align: center;

}
#container{
   margin:50px;

}
#description{
    font-weight:200;
    font-style:italic;
    font-size:18px;
    margin-bottom: 2rem;
    text-shadow:5px 5px 5px rgba(27, 27, 50, 0.8); 
}
#title{
font-weight:400; 
font-size:2em;
margin-bottom:1rem;  
text-shadow:5px 5px 5px rgba(27, 27, 50, 0.8); 
}
#survey-form{
    display:block;
    margin:auto;
    background:var(--color-darkblue);
    opacity:0.8;
    width:80vh;
    height:100%;
    border-radius: 0.25em;
    padding:20px 40px;
    
}

.formgroup{
display: block;
margin:auto;
width:100%;
opacity:1;
}
.inputs,select,[type="submit"]{ 
    display:block;
    height: 2.375rem;
    border-radius:0.25em;
    background-color:var(--color-white);
    border:1px solid #ced4da;;
    width:100%;
    padding: 0px 15px;
    font-family:'Poppins',sans-serif;
    font-size:18px;
    opacity:1;
    background-clip: padding-box;
 
}
label{
    display:block;
    font-size:18px;
    margin-bottom:8px;
    padding-top: 20px;
}
::placeholder{
 font-family:'Poppins',sans-serif;
 font-size:18px;
}
:-ms-input-placeholder{
font-family:'Poppins',sans-serif;
 font-size:18px;
}

input[id="def"],[id="not"],[id="may"],[name="improve"]{
margin-right:10px;
border: 0px;
width: 1.5em;
height: 1.5em;
}
label[for="def"],[for="may"],[for="not"],[name="improve"]{
 margin-bottom: 4px;
 padding-top: 0px;
}
span{
    font-size:0.9rem;
}
textarea{
    display:block;
    border-radius:0;
    background-color:var(--color-white);
    border:1px solid #ced4da;;
    width:100%;
    padding: 0px 15px;
    font-family:'Poppins',sans-serif;
    font-size:18px;
    opacity:1;
    margin-bottom: 40px;
    
}
input[type="submit"]{
    background-color: var(--color-green);
    border:1px solid var(--color-green);
    color:var(--color-white);
    border-radius: 0;
}